
  #self_video_name{
    position: relative;
    float: left;
    top: 0px;
    font-size: 22px;
    font-family: Microsoft JhengHei;
  }
  
  #self_video_page_ShowIntroduce{
    position: relative;
    float: left;
    top: 5px;
  }
  
  #self_comment_frame{
    position:relative;
    float: right;
    right:130px;
    top:40px;
}    
    #self_condition_botton{
      position: relative;
      bottom: 5px;
      left: 5px;
    }
    
    #self_div_video_comment_rectangle{
      position: relative;
      background-image: url(/assets/video_page/comment_rectangle.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 365px;
      height: 555px;
      //position: relative;
      //bottom: 455px;
    
    }
      #self_video_submit{
        position: absolute;
        bottom: 15px;
        right: 13px;
      }
    
      #self_content_input{
        position: relative;
        width: 335px;
        height: 300px;
        left: 15px;
        top: 15px;
      }
      
      
            
    
  #self_content_explain{
        position: relative;
        width: 335px;
        top: 15px;
        left: 15px;
      }


  #self_three_like{
        position: relative;
        top: 15px;
        left: 15px;
      }
  #self_div_video_introduce_rectangle{
    position: relative;
    float: left;
    background-image: url(/assets/video_page/introduce_rectangle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: -3px;
    width: 645px;
    height: 134px;
    bottom: -10px;
    
    
    
     
  }  

#self_upload_time{
      position: relative;
      top: 10px;
      left: 15px;
      font-weight:bold;
      
    }

    #self_video_introduce{
      position: relative;
      left: 15px;
      top: -5px;
    }