<div class="fill container-page" ng-controller="videoCtrl">
    <div class="video-content"></div>
    <div class="row">
        <div class="col-12">
            <h2>Video Source</h2>
            <div class="col-6 col-sm-6 col-lg-6">
                <label for="mediaSource">Source url:</label>
                <input id="mediaSource" type="url" class="form-control" ng-model="sourceUrl">
                <p>Video Type: <em>{{mediaType.type}}</em></p>
            </div>
            <div class="col-6 col-sm-6 col-lg-6">
                <h1>Current Time: {{currentTime * 1000 | date: 'mm:ss'}}</h1>
                <h1>Duration: {{duration * 1000 | date: 'mm:ss'}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-6 col-sm-6 col-lg-6">
                <h2>Flags</h2>
                <button ng-click="addFlag()">Set Flag</button>
                <ol>
                    <li ng-repeat="flag in flags">
                        <button ng-click="player.currentTime(flag)">Go to {{flag * 1000 | date: 'mm:ss'}}</button>
                        <button ng-click="removeFlag(flag)">Remove Flag</button>
                    </li>
                </ol>
            </div>
            <div class="col-6 col-sm-6 col-lg-6">
                <h2>Tags</h2>
                <button ng-click="addTag()">Set Tag</button>
                <ol>
                    <li ng-repeat="tag in myTags" style="border: 2px solid #f38630;border-radius: 25px;margin: 5px">
                        <div style="width: 95%;margin: 0 auto">
                            <h4>Label: <em>{{tag.label}}</em></h4>
                            <button ng-click="player.currentTime(tag.range[0]); player.play()">Go to {{tag.range[0] * 1000 | date: 'mm:ss'}}</button>
                            <button ng-click="removeTag(tag)">Remove Tag</button>
                            <label for="tagLabel">Tag Label:</label>
                            <input id="tagLabel" type="text" ng-model="tag.label"/>
                            <div>
                                <div>
                                    <span style="float: left">00:00</span>
                                    <span style="float: right">{{duration * 1000 | date: 'mm:ss'}}</span>
                                </div>
                                <div style="clear: both"></div>
                                <div ui-slider="{range: true}" min="0" max="{{duration}}" step="0.01" use-decimals ng-model="tag.range"></div>
                                <h5>Tag [start - end]: <em>{{tag.range[0] * 1000 | date: 'mm:ss'}} - {{tag.range[1] * 1000 | date: 'mm:ss'}}</em></h5>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>