<div class="fill container-page" ng-controller="homeCtrl">
	Welcome back, {{currentUser.name}}!
    <div class="alert alert-warning fill">
        TODO <span style="color: orange" class="fa fa-exclamation-triangle" />
    </div>


    <!--    -->
    
    <div id="tbody">
    
    <!-- Header -->


    <!-- Services Section -->
    <section id="services" style="background-color: rgba(147, 211, 123, 0.7);">
        <div class="container" style="margin-bottom: 100px;width: 86%;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="font-family:'微軟正黑體';color: white;font-size: 36px;">本週課程</h2>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 60px;">
                <div class="col-md-12">
                    <a><%= image_tag('ntu_report.png' ,:width=>'165') %></a>
                    <h2 class="service-heading">HW1. 自我介紹</h2>
                    <p style="font-size:20px;">請在週五23:59前到線上評分網EPES註冊,網址如下:</p>
                    <p style="font-size:20px;">https://140.112.41.110/epesv2/emailReg.aspx</p>
                    <p style="font-size:20px;">註冊完成會在ntu mail收到啟動通知信,點該連結可以設定密碼</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray" style="background-color: rgba(180, 241, 193, 1);">
        <div class="container">
            <div class="row" style="margin: 0px auto;">
                <div class="col-lg-12 text-center " id="qa_list" style="font-family:'微軟正黑體';font-size:17px; color:#742424;text-align:left;left: -40%;">
                    <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
                    preload="auto" width="640" height="464" poster="http://video-js.zencoder.com/oceans-clip.png"
                    data-setup="{}">
                    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type=video/mp4>
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
.
                </div>
              <div><%= image_tag('Facebook_like_thumb.png', :class => 'img-responsive', :style => 'margin: 0px auto;display:block;position: absolute;right: 250px;', :width => '70') %>
              </div>
              <div><%= image_tag('Facebook_unlike_thumb.png', :class => 'img-responsive', :style => 'margin: 0px auto;display:block;position: absolute;right: 400px;', :width => '70') %>
              </div>
              
        </div>
    </section>

    <!-- About Section -->
    <section id="about" style="background-color:rgb(214, 243, 222);">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    </br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                            <div class="timeline-image" id="bonio_intro" style="max-width:580px;margin: 0px auto;">
                             
                            <a id="bonio_intro_img_big" href="http://www.bonio.com.tw" target="_blank">
                                <%= image_tag('longlong.jpg', :class => 'img-responsive', :style => 'margin: 0px auto;display:block;', :width => '370') %>
                            </a>
                            </br></br>
                                <p style="font-size: 17px;">我們是一群懷有夢想老師與學生們，希望能透過改變學習的方式來改變世界,有句話說『人因夢想而偉大』，相信用一步一腳印的踏實努力，總有一天能夠達成我們的目標</p>
                            </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Clients Aside -->
    <section id="contactss">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" >
                    <h2 class="section-heading" style="font-family:'微軟正黑體';color:#CA6F08;margin-bottom: 28px;">聯絡我們</h2>
                                        <p style="font-size:17px;font-family:'微軟正黑體';">如有任何問題，歡迎來信：<br><a style="color:#CA6F08;" href="mailto:lhz20072007@gmail.com.tw"> lhz20072007@gmail.com</a></p>

            <p style="font-size:17px;font-family:'微軟正黑體';">電話：0920475700</p>
            <p style="font-size:17px;font-family:'微軟正黑體';">地址：台北市大安區羅斯福路四段1號 博理館515<p>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.5041728936453!2d121.53385070000002!3d25.016958699999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9898c33fbcb%3A0xa7aa5546fb2ba57d!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A576F5pav56aP6Lev5Zub5q61MeiZn-iHuueBo-Wkp-WtuA!5e0!3m2!1szh-TW!2stw!4v1417352579052" width="550" height="310" frameborder="0" style="border:0"></iframe>
                </div>
                
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; CCHZ 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="http://www.facebook.com/pagamo2014" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><p style="color:black;">SINCE 2014</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(window).load(function() {
          $('.flexslider').flexslider({
            animation: "slide"
          });
          epaper_handler.initialize();
        });
        $('ul[class="slides"] li').click( function(){
          $('#news_complete_pic').attr('src', $(this).children()[0].src);
        
          $('#news_modal').modal({
            keyboard: false,
          });
        });
        $(".btn_register").click(function(){
          $("#register_epaper_modal").modal();
        });
        function clean_input(){
          $("#register_epaper_modal input[type='text']").val('');
        }
        $(window).resize(function(){
          epaper_handler.change_graphic();
        })
    </script>
</div>

    <!--    -->

    <!-- Logout button -->
    <div><center>
        <a ng-disabled="busy"
            class="btn btn-lg btn-fancy" 
            ng-click="clickLogout()">
            <localize key="Logout" /> <span ng-style="{visibility: busy && 'visible' || 'hidden'}"><i class="fa fa-cog fa-spin"></i></span>
        </a>
    </center></div>
</div>