<div id="ng-app" class="fill" ng-app="app" ng-controller="uimgrCtrl">

  <!-- OK <-> Cancel Modal dialog template -->
  <script type="text/ng-template" id="UIMgr/okCancelModal">
    <div class="modal-header">
        <h3 class="modal-title">{{okCancelModalData.title}}</h3>
    </div>
    <div class="modal-body">
        {{okCancelModalData.body}}
    </div>
    <div class="modal-footer">
      <!-- OK Button -->
      <a class="container-stretched btn btn-lg btn-success" style="display:inline"
          ng-click="ok()">
          <localize key="Ok" />
      </a>
      <a class="container-stretched btn btn-lg btn-warning" style="display:inline"
          ng-click="cancel()">
          <localize key="Cancel" />
      </a>
    </div>
  </script>

  <!-- nav-button element template -->
  <script type="text/ng-template" id="UIMgr/navButton">
    <li ng-show="button.show" 
      ng-class="{ active: button.active }">
      <a href="" title="{{ button.getText() }}" ng-click="button.onClick()">
        <i ng-if="button.cssClasses" class="{{ button.cssClasses }}"></i>
        <span ng-if="button.getText()">{{ button.getText() }}</span>

        <!-- Button decorations -->
        <span style="font-size: 1em;">
          <!-- Orange Exclamation Mark -->
          <i ng-if="button.urgentMarker"
              style="position: absolute; bottom: .5em; right: .2em; font-size: 1.6em; color: orange;"
              class="fa fa-exclamation">
          </i>

          <!-- Point badge -->
          <span ng-if="button.badgeValue"
              style="position: absolute; bottom: .5em; right: .2em;"
              class="label label-badge label-{{ button.badgeValue > 0 ? 'success' : 'danger'}}"
                  ><span
                  >{{ button.badgeValue > 0 ? '+' : ''}}{{button.badgeValue}}</span
          ></span>
        </span>
      </a>
    </li>
  </script>

  <!-- Menu -->
  <div class="nav-main" ng-controller="uiMenuCtrl">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <!-- This is the hamburger button. It only shows when width gets too small. -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Navigation buttons -->
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav">
            <nav-button ng-repeat="button in navButtons.left">
            </nav-button>
          </ul>

          <div class="btn-group" style="float: right">
            <button ng-repeat="button in navButtons.right" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">
                  <nav-button ng-repeat="button in navButtons.right"  class="" data-toggle="dropdown" aria-expanded="false">
                  </nav-button>
                </a>
              </li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li> <a ng-disabled="busy"
                        class="btn btn-lg btn-fancy" 
                        ng-click="clickLogout()">
                        <localize key="Logout" /> <span ng-style="{visibility: busy && 'visible' || 'hidden'}"><i class="fa fa-cog fa-spin"></i></span>
                    </a></li>
            </ul>
          </div>


        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>

  <!-- Content -->
  <div class="container fill" style="padding: 0">
    <!-- Pages -->
    <div ng-repeat="page in pages"
      class="fill" style="position: relative;" 
      ng-show="page.active"
      ng-include="page.templateName">
    </div>
  </div>
</div>