<div class="fill container-page" ng-controller="contactCtrl">
	Welcome back, {{currentUser.name}}!
    <div class="alert alert-warning fill">
      
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" >
                    <h2 class="section-heading" style="font-family:'微軟正黑體';color:#CA6F08;margin-bottom: 28px;">聯絡我們</h2>
                                        <p style="font-size:17px;font-family:'微軟正黑體';">如有任何問題，歡迎來信：<br><a style="color:#CA6F08;" href="mailto:lhz20072007@gmail.com.tw"> lhz20072007@gmail.com</a></p>

            <p style="font-size:17px;font-family:'微軟正黑體';">電話：0920475700</p>
            <p style="font-size:17px;font-family:'微軟正黑體';">地址：台北市大安區羅斯福路四段1號 博理館515<p>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.5041728936453!2d121.53385070000002!3d25.016958699999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9898c33fbcb%3A0xa7aa5546fb2ba57d!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A576F5pav56aP6Lev5Zub5q61MeiZn-iHuueBo-Wkp-WtuA!5e0!3m2!1szh-TW!2stw!4v1417352579052" width="550" height="310" frameborder="0" style="border:0"></iframe>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- Logout button -->
    <!--
    <div><center>
        <a ng-disabled="busy"
            class="btn btn-lg btn-fancy" 
            ng-click="clickLogout()">
            <localize key="Logout" /> <span ng-style="{visibility: busy && 'visible' || 'hidden'}"><i class="fa fa-cog fa-spin"></i></span>
        </a>
    </center></div>
    -->
</div>